@font-face {
    font-family: 'Bernadette';
    src: url('Bernadette.eot');
    src: url('Bernadette.eot?#iefix') format('embedded-opentype'),
        url('Bernadette.woff2') format('woff2'),
        url('Bernadette.woff') format('woff'),
        url('Bernadette.ttf') format('truetype'),
        url('Bernadette.svg#Bernadette') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

